<div class="container">
  <div class="row mt-4">
    <div class="col">
      <h1>Angular 5 starter project</h1>
    </div>
  </div>
  <div class="row">
    <div class="col">

      <!-- actions -->
      <input #InputRef (keyup)=" message = $event.target.value ">
      <button (click)="open = !open;openMessage = !openMessage">Toggle</button>
      <button (click)="focus(InputRef)">Focus</button>
      <button (click)="cardRef.open();messageRef.open() ">Open</button>
      <button (click)="cardRef.close();messageRef.close()">Close</button>
      <hr>

      <!-- configuration options -->
      Choose panel type:
      <select (change)="onPanelTypeSelect($event.target.value)">
        <option *ngFor="let type of panelTypes" [value]="type.id">{{type.name}}</option>
      </select>
      <br>
      Choose nav type:
      <select (change)="onNavTypeSelect($event.target.value)">
        <option *ngFor="let type of navTypes" [value]="type.id">{{type.name}}</option>
      </select>

      <!-- example of panel with navigation, tabs and internal components-->
      <panel [type]="selectedPanelType.name">
        <h4 ngProjectAs="panel-header">
          <panel-close></panel-close>
          Cards components <small>({{list.length}} types)</small>
        </h4>

        <panel-nav [type]="selectedNavType.class"></panel-nav>

        <panel-tab [title]="list[0]">
          <panel-close></panel-close>
          Basic card component:
          <basic-card #cardRef [(open)]="open" [text]="message"> </basic-card>
        </panel-tab>

        <panel-tab [title]="list[1]">
          <panel-close></panel-close>
          Message card component:
          <message-card #messageRef [(open)]="openMessage" [text]="message">
          </message-card>
        </panel-tab>

        <panel-tab [title]="list[2]">
          <panel-close></panel-close>
          Status card component:
          <status-card text="Default message"></status-card>
          <status-card type="error" text="Error occured"></status-card>
          <status-card type="info" text="Simple message"></status-card>
          <status-card type="success" text="Operation success"></status-card>
        </panel-tab>

        <div ngProjectAs="panel-footer">Panel footer</div>
      </panel>

      <!-- example of simple panel -->
      <panel>
        <h5 ngProjectAs="panel-header">
          Messages
        </h5>
        <p class="alert bg-warning">
          Some info...
        </p>
      </panel>

    </div>
  </div>
</div>
