<div class="container">
  <div class="row mt-4">
    <div class="col">
      <h1>Angular 5 starter project</h1>
    </div>
  </div>
  <div class="row">
    <div class="col">

      <input #InputRef (keyup)=" message = $event.target.value ">
      <button (click)="open = !open">Toggle</button>
      <button (click)="focus(InputRef)">Focus</button>
      <button (click)="cardRef.open()">Open</button>
      <button (click)="cardRef.close()">Close</button>

      <hr>
      Basic card component:
      <basic-card #cardRef
        [(open)]="open"
        [text]="message">
      </basic-card>

      <hr>
      Status card component:
      <status-card text="Default message"></status-card>
      <status-card type="error" text="Error occured"></status-card>
      <status-card type="info" text="Simple message"></status-card>
      <status-card type="success" text="Operation success"></status-card>

    </div>
  </div>
</div>
