<div class="container">
  <div class="row mt-4">
    <div class="col">
      <h1>Angular 5 starter project</h1>
    </div>
  </div>
  <div class="row">
    <div class="col">

      <input #InputRef (keyup)=" message = $event.target.value ">
      <button (click)="open = !open;openMessage = !openMessage">Toggle</button>
      <button (click)="focus(InputRef)">Focus</button>
      <button (click)="cardRef.open();messageRef.open() ">Open</button>
      <button (click)="cardRef.close();messageRef.close()">Close</button>

      <hr>
      <panel>
        <h4 ngProjectAs="panel-header">
          <panel-close></panel-close>
          Panel headder
        </h4>
        <div ngProjectAs="panel-footer">Panel footer</div>

        <ul>
          <li *ngFor="let i of [1,2,3,4,5]">Test {{i}}</li>
        </ul>

      </panel>
      <hr>
      <panel>

        <h5 ngProjectAs="panel-header">
          Komunikaty
        </h5>
        <p class="alert bg-warning">
          Powiadomienie w panelu!
        </p>
      </panel>

      <hr>
      Basic card component:
      <basic-card #cardRef
        [(open)]="open"
        [text]="message">
      </basic-card>

      <hr>
      Message card component:
      <message-card #messageRef
                  [(open)]="openMessage"
                  [text]="message">
      </message-card>

      <hr>
      Status card component:
      <status-card text="Default message"></status-card>
      <status-card type="error" text="Error occured"></status-card>
      <status-card type="info" text="Simple message"></status-card>
      <status-card type="success" text="Operation success"></status-card>

    </div>
  </div>
</div>
